* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    max-width: 100%;
    height: 100%;
    margin: auto;
}
.navbar {
    background-color: #040053;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.1fr;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
  }
ul {
    list-style: none;
}
.header-logo img {
    width: 50px;
    padding: 1px;
    height: auto;
}
.header-nav hr {
    border: 1px solid white;
    margin: 10px 0px;
  }
.header-nav-top ul {
    display: flex;
    justify-content: end;
    gap: 100px;
}
.header-nav-bottom ul {
    display: flex;
    justify-content: end;
    gap: 100px;
}